<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<% @pictures.each do |picture| %>
		<li data-target="#carousel-example-generic" data-slide-to="<% @pictures.index(picture) %>" class="active"</li>
		<% end %>
	</ol>
	<div class="carousel-inner">
		<% @pictures.each do |picture| %>
		<% if picture.image_file_name != nil %>
			<% if @pictures.index(picture) == 0 %>
				<div class="item active">
					<%= image_tag picture.image.url(:large) %>
					<div class="carousel-caption">
						<h3><%= picture.description %></h3>
						<h5>From: <%= picture.username %></h5> 
					</div>
				</div>
			<% else %>
				<div class="item">
					<%= image_tag picture.image.url(:large) %>
					<div class="carousel-caption">
						<h3><%= picture.description %></h3>
						<h5>From: <%= picture.username %></h5> 
					</div>
				</div>
				<% end %>
				<% else %>
				<div class="item">
					<div class="carousel-caption" id="solo-greeting">
						<h3><%= picture.description %></h3>
						<h5>From: <%= picture.username %></h5> 
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
	<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
